*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.header {
    width: 80vw;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    position: relative;
    display: flex;
    margin-bottom: 2px;
}
.header-text {
    margin: 0;
    flex-direction: column;
    display:flex;
    flex: 1; 
}
.header img{
    width: calc(19% + 70px);
    height: auto;
    left: calc(8% + 10px);
    margin-left: 10%;
}
.header-text h1{
    letter-spacing: 30px;
    font-size: 90px;
    text-align: right;
    margin-top: 3%;
    margin-left: calc(18%);
    color: #c20303;
    text-transform: uppercase;
}
.header-text p{
    letter-spacing: 10px;
    text-transform: uppercase;
    color: azure;
    position: relative;
    left: calc(25% + 10px);
    font-size: 25px;
    margin-top: 5%;
}
.container{
    align-items: center;
    margin: 0 calc(10% + 10px);
    /*max-width: calc(80% + 10px);*/
    width: 80vw;
}
.first{
    border-color: white;
    display: flex;
    height:fit-content;
}
.first i{
    font-size: 32px;
}
.first p{
    color: white;
}
.first .left{
    background-color: #FFA500;
    width: 50%;
    padding: 10px;   
}
.first .left span{
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.first .left p{
    font-size: medium;
}
.first .right{
    background-color: #87ceeb;
    width: 50%;
    padding: 15px;
}
.first .right img{
    width: 12%;
}
.first .right span{
    letter-spacing: 7px;
    text-decoration: underline;

}
.first .left b,.right b{
    font-size: 25px;
    color: white;
}
.second{
    background-color: #f82727;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.second .flex-area{
    display: flex;
    flex-direction: row;
}
.second p{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    width: 50%;
    text-align: justify;
}
.second ul{
    list-style-type: none;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    padding: 0;
}
.second span{
    letter-spacing: 10px;
    width: 50%;
    font-weight: bold;
    margin-bottom: 20px;
}
.second li{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.second li i{
    font-size: 40px;
    margin-bottom: 10px; 
    color: black;
}
.second b{
    text-decoration: underline;
    font-size: 20px;
}
.second h4{
    width: 100%;
    font-size: 17px;
    text-align: left;
}
.third{
    background-color: #87ceeb;
    display: flex;
    color: white;
    padding: 10px;
}
.third .left{
    width: 50%;
    text-align: left;
}
.third .left b{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 10px;
}
.third .left i{
    color: black;
    font-size: 30px;
}
.third .left p{
    padding: 0 30px 0 12px;
    margin-right: 80px;
    text-align: justify;
    font-size: 20px;
}
.third .left span,.right span{
    text-decoration: underline;
}
.third .right p{
    margin: 20px;
    font-size: 20px;
}
.third .right{
    width: 50%;
}
.fourth{
    display: flex;
    color: white;
}
.fourth .left{
    width: 50%;
    background-color: #FFA500;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.fourth .left b{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding: 10px;
    z-index: 1;
}
.fourth .left img{
    width: calc(30% + 35px);
    height: 100%;
    object-fit: cover;
    height: fit-content;
    position: absolute;
    z-index: 0;
}
.fourth .left p{
    position: relative;
    z-index: 1;
    font-size: 15px;
    text-align: justify;
    padding: 40px;
    letter-spacing: 8px;
}
.fourth .right{
    width: 50%;
    background-color: #87ceeb;
    position: relative;
    display: flex;
    flex-direction: row;
}
.fourth .right img{
    width: 50%;
}
.fourth .right p{
    width: 50%;
    font-size: 20px;
    padding: 30px;
    margin-right: 40px;
    text-align: justify;
}
.fourth .right b{
    font-weight: bold;
    font-size: 50px;
}
.fifth{
    background-color: #87ceeb;
    color: white;
    display: flex;
}
.fifth .left{
    width: 80%;
}
.fifth .left span{
    text-decoration: underline;
}
.fifth .left b{
    font-weight: bold;
    font-size: 40px;
}
.fifth .left p{
    letter-spacing: 10px;
    font-size: 20px;
    padding: 35px;
}
.fifth img{
    width: 15%;
}
.sixth{
    background-color:#FFA500;
    color: white;
    display: flex;
}
.sixth .left p{
    letter-spacing: 5px;
    font-size: 20px;
    padding: 35px;
}
.sixth .left b{
    font-weight: bold;
    font-size: 40px;
}
.sixth img{
    width: 20%;
    padding: 20px;
    margin-right: 30px;
}
.seventh{
    display: flex;
    color: white;
}
.seventh .left{
    width: 50%;
    background-color: #FFA500;
    display: flex;
    flex-direction: row;
}
.seventh .left .image{
    padding: 15px;
    font-size: 7.5rem;
    color: black;
}
.seventh .left p{
    padding: 35px;
    letter-spacing: 6px;
    font-size: 20px;
}
.seventh .left b{
    font-weight: bold;
    font-size: 30px;
}
.seventh .right{
    padding: 20px;
    width: 50%;
    background-color:#87ceeb;
}
.seventh .right p{
    padding: 10px 10px 10px 0;
    font-size: 18px;
}
.seventh .right b{
    font-weight: bold;
    font-size: 27px;
}